vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Sep 2006 05:42:56 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|11 Sep 2006 05:42:56 -0000
vti_filesize:IR|2317
vti_backlinkinfo:VX|oldSite/webDesign.html oldSite/aboutMyself.html oldSite/contactThankYou.html oldSite/contact.html oldSite/news.html
